/* VARIABLES */
/* FUNCTIONS */
/* HEADER */
/* line 9, styles.scss */
body {
  background-color: #222222;
  font-family: Verdana;
}

/* line 14, styles.scss */
.btn-container {
  width: 100%;
  text-align: center;
}

/* line 19, styles.scss */
.btn-generator {
  position: relative;
  padding: 15px;
  background-color: #27ae60;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  color: #FFF;
  transition: 0.2s;
}
/* line 29, styles.scss */
.btn-generator:hover {
  background-color: #2ecc71;
}

/* line 35, styles.scss */
h1 {
  color: #FFF;
  text-align: center;
}

/* BALLS */
/* line 42, styles.scss */
.ball {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

/* line 49, styles.scss */
.balls-container {
  margin: 50px;
  min-height: 600px;
  border: 4px solid #e74c3c;
  border-radius: 2px;
}

/* line 56, styles.scss */
.beginning {
  margin: 25px;
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #ffffff;
}
