/* VARIABLES */


/* HEADER */
body{
	background-color: #222222;
	font-family: Verdana;
}

.btn-container{
	width: 100%;
	text-align: center;
}

button{
	position: relative;
	padding: 15px;
	background-color: #27ae60;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	font-size: 20px;
	color:#FFF;
	transition: 0.2s;
}

button:hover{
	background-color: #2ecc71;
}

h1{
	color:#FFF;
	text-align: center;
}


/* BALLS */
.ball{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #3498db;
}

.balls-container{
	margin: 50px;
	min-height: 600px;
	border:4px solid #e74c3c;
	border-radius: 2px;
}